@font-face {
    font-family: 'CyberpunkWaifus';
    src: url('/src/font/CyberpunkWaifus.ttf');
}

@font-face {
    font-family: 'Demon';
    src: url('/src/font/GothicPixels.ttf');
}


@font-face {
    font-family: 'Cyber';
    src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
    font-display: swap;
  }
  


  html, body {
	background-color: black;
    color: white;
	min-height: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	color: #202020;
	margin-bottom: 1rem;
	text-align: center;
}
