---
import '../styles/global.css'
import { Image } from 'astro:assets';
import Portal from '/src/images/portal.gif'
---
<html>    
    <header>
        <title> 404 error </title>
    </header>

<body>
    <main>
    <div class="cadre">
        <h1>ERROR 404</h1>
        <p>Are you lost ?</p>
        <p>You are in the wrong universe !</p>
	<a href="/">
		<Image src={Portal} alt="To leave this space" width="80" height="100">
	</a>
    </div>
    </main>
</body>




</html>


<style>

    .cadre {
    background-color: black;
    border: 3px solid white;
    border-radius: 20px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    }


  html, body {
	background-image: url("/src/images/background-404.png");
    color: white;
	min-height: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}


main {
    width: 100%;
    max-width: 64rem;
    text-align: center;
    color: #fff;
}

 * {
    font-family: CyberpunkWaifus;
 }

    h1 {
        color: red;
    }


</style>
