---
import '../styles/global.css'
---

<html>
    <header>
        <title>Home</title>
    </header>
<body>
    <main class="Home">
        <h1>Hey welcome to my Portfolio</h1>
    </main>
</body>
    <footer>
        <p>© 2024 Sky-dev. Rights Reserved.</p>
    </footer>
</html>

<style is:global>
    * {
        text-align: center;
        font-family: CyberpunkWaifus;
    }

    span {
        animation: rainbow 20s linear;
        animation-iteration-count: infinite;
    }
</style>
